@font-face {
    font-family: 'Montserrat';
    src: url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap') 
}
  
.hebergements {
    display: flex;
    flex-direction: column;
    gap: 15px;

    .informations {
        display: flex;
        justify-content: space-between;
    
        .container-profile {
            display: flex;
            flex-direction: column;
            gap: 20px;

            .profile {
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 20px;

                img {
                    border-radius: 50%;
                    width: 64px;
                    height: 64px;
                }
            }

            .container-stars {
                display: flex;
                gap: 10px;
                
                .stars {
                    background: url('./../../assets/GreyStar.svg');
                    background-size: contain;
                    height: 24px;
                    width: 25px;
                    
                    &.filled {
                        background-image: url('./../../assets/RedStar.svg'); // URL de l'étoile pleine
                    }
                
                    &.empty {
                        background-image: url('./../../assets/GreyStar.svg'); // URL de l'étoile vide
                    }
                }
            }
        }
    }

    h1 {
        font-size: 36px;
        color: var(--coral);
        font-weight: 500;
        margin: 0;
    }

    .geography {
        font-size: 18px;
        font-weight: 500;
    }

    .structure-tags {
        display: flex;
        flex-wrap: wrap;
        gap: 15px;
    }

    .host {
        width: 93px;
        font-size: 18px;
        color: var(--coral);;
        font-weight: 500;
        text-align: end;
    }

    .logement-page {
        display: flex;
        gap: 100px;

        p {
            padding: 5px 0;
            margin: 0;
            font-size: 18px;
            font-weight: 400;
        }

        ul {
            padding: 5px 0;
            margin: 0;

            li {
                list-style-type: none;
                font-size: 18px;
                font-weight: 400;
                line-height: 26px;
            }
        }
    }
}

@media (max-width: 1024px) {
    .informations h1 {
        font-size: 27px;
    }

    .informations .geography {
        font-size: 16px;
    }

    .informations .container-profile .profile .host {
        font-size: 15px;
    }
}

@media (max-width: 400px) {
    
    .hebergements {
        display: flex;
        flex-direction: column;
        padding: 0px;
        flex-grow: 1;

        .informations {
            display: flex;
            flex-direction: column;

            h1 {
                font-size: 18px;
                font-weight: 500;
            }
            
            .geography {
                font-size: 14px;
                font-weight: 500;
            }

            .container-profile {
                display: flex;
                flex-direction: row-reverse;
                align-items: center;
                justify-content: space-between;

                .host {
                    font-size: 12px;
                }

                .profile img {
                    width: 32px;
                    height: 32px;
                }
                
                .container-stars {
                    gap: 5px;

                    .stars {
                        width: 14px;
                        height: 13px;
                    }
                }
            }
        }

        .logement-page {
            gap: 20px;
            display: flex;
            flex-direction: column;
        }
    }         
}