.structure-encart {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 0 50px;
    margin: auto;
}

@media (max-width: 400px) {
    .structure-encart {
        height: 100%;
        flex-grow: 1;
        
        .encart-body {
            width: 335px;
        }
    } 
}