@font-face {
    font-family: 'Montserrat';
    src: url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap')
}

:root {
    --coral: rgba(255, 96, 96, 1);
}

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    gap: 27px 0;

    >*:not(footer) {
        margin-inline-start: 80px;
        margin-inline-end: 80px;
    }
}

@media (max-width: 1024px) {
    #root {
        >*:not(footer) {
            margin-inline-start: 50px;
            margin-inline-end: 50px;
        }
    }
}

@media (max-width: 400px) {
    #root {
        >*:not(footer) {
            margin-inline-start: 5%;
            margin-inline-end: 5%;
        }
    }
}