@font-face {
    font-family: 'Montserrat';
    src: url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap')
}

:root {
    --coral: rgba(255, 96, 96, 1);
}

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    >*:not(footer) {
        margin: 0 80px;
        //padding: 0
    }
}

@media (max-width: 375px) {
    #root {
        //padding: 20px 20px 0 20px;

        >*:not(footer) {
            padding: 20px 20px 0 20px
        }

        >*:not(mask-group) {
            margin: 0;
        }
    }
}