.carousel.carousel-slider {
    .control-arrow:before {
        border: none !important;
        background: url("./../../assets/vector.svg") center center/contain no-repeat;
        width: 70px;
        height: 200px;
    }
    
    .control-next.control-arrow:before {
        transform: scaleX(-100%);
    }
    
    .control-arrow:hover {
        background-color: transparent;
    }
    
    .slide img {
        width: 100%;
        border-radius: 25px;
        height: 415px;
        object-fit: cover;
    }

    .carousel-status {    
        top: unset;
        bottom: 0;
        left: 50%;
        right: 50%;
        margin: 5px 0;
        font-size: 18px;
    }
}

@media (max-width :400px) {
    .carousel.carousel-slider {
        .slide img {
            width: 100%;
            border-radius: 10px;
            height:255px;
        }

        .slider-wrapper  {
            height: 100%;
            border-radius: 10px;
        }
        
        .control-arrow {
            background-color: transparent;

            &::before {
                width: 12px;
            }
        }

        .carousel-status {
            left: 45%;
            display: none;
        }
    }
}