.encart-body {
    width: 100%;
    //padding-bottom: 20px;

    .encart {
        background-color: var(--coral);
        border-radius: 5px;
        width: 100%;
        //height: 52px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        h3 {
            color: white;
            margin: 15px;
            //margin-bottom: 10px;
        }

        .arrow-container {
            cursor: pointer;
            margin-right: 10px; // Décalage vers la gauche
            margin-top: 17px; // Décalage vers le bas

            img {
                transition: transform 0.3s ease; // Ajoute une transition pour une animation fluide
            }

            .rotate {
                transform: rotate(180deg); // Rotation vers le bas
            }
        }
    }

    .expanded-content {
        display: none;

        &.expanded {
            display: flex;
            background: #F6F6F673;
            border-radius: 0 0 10px 10px;
            padding: 15px;
        }
    }
}

@media (max-width : 375px) {
    .logement-page, .informations {
        display: flex;
        flex-direction: column;
    }
}